@import "../../assets/styles/colors.scss";
@import "../../assets/styles/mixins.scss";

.btn-main {
    @include reset-native-button;
    @include bg-ease-transition;
    background-color: $blue;
    padding: 8px 15px;
    font-size: 12px;
    font-weight: 500;
    border-radius: 4px;
    color: $white;
    cursor: pointer;
    &:hover {
        background-color: darken($blue, 10%);
    }
}
