@import '../../assets/styles/mixins.scss';
@import '../../assets/styles/colors.scss';

.gif-item {
    @include center-flex;
    position: relative;
    width: 335px;
    height: 260px;
    margin: 10px;
    cursor: pointer;
    background: $black;
    overflow: hidden;
    .gif-image {
        max-width: 100%;
    }
    .footer-locked {
        display: none;
    }
    .footer {
        padding: 16px;
        position: absolute;
        display: none;
        align-items: center;
        color: $white;
        left: 0;
        right: 0;
        bottom: 0;
        font-size: 12px;
    }
    &:hover {
        &:not(.disable) {
            border: 4px solid $blue;
            .footer {
                display: flex;
            }
            .footer-locked {
                display: none;
            }
        }
    }
    &.disable {
        cursor: default;
    }

    &.selected {
        .footer-locked {
            padding: 16px;
            position: absolute;
            display: flex;
            align-items: center;
            color: $white;
            left: 0;
            right: 0;
            bottom: 0;
            font-size: 12px;
        }
    }

}
