@import '../../../assets/styles/mixins.scss';
@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/animations.scss';

.loader-block {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $black;
    @include center-flex;
    .loader {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        margin: auto;
        width: 2.5em;
        height: 2.5em;
        .loader-cube {
            height: 35%;
            width: 35%;
            animation: pulse 0.75s ease-in infinite alternate;
            background-color: $blue;
            &.delayed {
                animation-delay: 0.75s;
            }
        }
    }
}
